{% extends "layout.html" %}
{% load static %}


{% block content %}

    <div class="row">
        <div class="col-md-auto mx-auto">
            <div class="card">
                <div class="card-header bg-primary text-white">
                   <h4>Regiser</h4>
                </div>
                <div class="card-body">
                    <form action="{% url 'register' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="first_name">Name</label>
                            <input type="text" name="first_name" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="last_name">Last-Name</label>
                            <input type="text" name="last_name" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" name="username" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" name="email" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone-Number</label>
                            <input type="number" name="phone" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" name="password" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="repassword">RePassword</label>
                            <input type="password" name="repassword" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    </form>    
                </div>
            </div>
        </div>    
    </div>    

{% endblock %}

<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>